In [ ]:
n=int(input("enter the number:"))
temp=n
sum=0
count=0
while(n>0):
  rem=n%10
  count+=1
  n//=10
n=temp
print(count)
while(n>0):
  rem=n%10
  sum=sum+(rem**count)
  n//=10
if(sum==temp):
  print("narcissistic number")
else:
  print("no")

enter the number:115132219018763992565095597973971522400
39
narcissistic number

In [ ]:
16

In [ ]:
n=int(input("enter the number:"))
primenumber=[]
if(n<=1):
  print("there is not any prime number before n")
elif(n>1):
  for num in range(2,n):
    for i in range(2,num):
      if(num%i==0):
        break
    else:
        primenumber.append(num)
print(f"prime number less than {n} is :" ,primenumber)

enter the number:25
prime number less than 25 is : [2, 3, 5, 7, 11, 13, 17, 19, 23]

In [ ]:
print("\U0001f335")

ðŸŒµ

In [ ]:
print("\U0001f338")

ðŸŒ¸

In [ ]:
for k in range(20):
  print("*         *")
  print("**       **")
  print("***     ***")
  print("***     ***")
  print("**       **")
  print("*         *")

*         *
**       **
***     ***
***     ***
**       **
*         *
*         *
**       **
***     ***
***     ***
**       **
*         *
*         *
**       **
***     ***
***     ***
**       **
*         *
*         *
**       **
***     ***
***     ***
**       **
*         *
*         *
**       **
***     ***
***     ***
**       **
*         *
*         *
**       **
***     ***
***     ***
**       **
*         *
*         *
**       **
***     ***
***     ***
**       **
*         *
*         *
**       **
***     ***
***     ***
**       **
*         *
*         *
**       **
***     ***
***     ***
**       **
*         *
*         *
**       **
***     ***
***     ***
**       **
*         *
*         *
**       **
***     ***
***     ***
**       **
*         *
*         *
**       **
***     ***
***     ***
**       **
*         *
*         *
**       **
***     ***
***     ***
**       **
*         *
*         *
**       **
***     ***
***     ***
**       **
*         *
*         *
**       **
***     ***
***     ***
**       **
*         *
*         *
**       **
***     ***
***     ***
**       **
*         *
*         *
**       **
***     ***
***     ***
**       **
*         *
*         *
**       **
***     ***
***     ***
**       **
*         *
*         *
**       **
***     ***
***     ***
**       **
*         *
*         *
**       **
***     ***
***     ***
**       **
*         *

In [ ]:
n=int(input("enter the number:"))
while(n>0):
  print

In [ ]:
n = int(input("enter the number:"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j, end="")
    print()

enter the number:5
1
12
123
1234
12345

In [ ]:
l=[-2.33,5.5,10,80,-90,1000,500,-1000]
for i in range(len(l)):
  for j in range

In [ ]:
l = [-2.33, 5.5, 10, 80, -90, 1000, 500, -1000]
sort = []

while l:
    smallest = min(l)
    sort.append(smallest)
    l = [x for x in l if x != smallest]  # Create a new list excluding the smallest element

print("List in ascending order:", sort)

List in ascending order: [-1000, -90, -2.33, 5.5, 10, 80, 500, 1000]

In [ ]:
l=[-2.33,5.5,10,80,-90,1000,500,-1000]
a=len(l)
for i in range (a):
    for j in range (i):
        if l[i]>l[j]:
            l[i],l[j]=l[j],l[i]
        else:
            continue
print(l)

[1000, 500, 80, 10, 5.5, -2.33, -90, -1000]

In [ ]:
# Given a number n, print a pattern where the k-th line should have the numbers from 1 to k and then back down to 1. For example, if n is 4, the output should be:
# 1
# 121
# 12321
# 1234321
n=int(input("enter the number:"))
for i in range(1, n+1):
    for j in range(1,i+1):
        print(j, end="")
    for j in range(i-1,0,-1):
        print(j, end="")
    print()

enter the number:5
1
121
12321
1234321
123454321

In [ ]:
ord('A')

65

In [ ]:
print(" hello everyone " "10*'a\n'" " good mornign")

 hello everyone 10*'a
' good mornign

In [ ]:
n=5
for i in range(1,n+1):
  for j in range(i):
    print(i,end=" ")
    i+=1

  print()

1
2 3
3 4 5
4 5 6 7
5 6 7 8 9

In [ ]:
n=5
for i in range(1,n+1):
  for j in range(i,n):
    print(i,end=" ")
  i+=1

  print()

1 1 1
2 2
3

In [ ]:
n=int(input())
for i in range (1,n+1):
    for j in range (i,2*i):
        print((n-i)' ',j,(n-i)' ', end='')
    for k in range (2*i-2,i-1,-1):
        print(k,end=' ')
    print('')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-25-de29b8d056a8>, line 4)

In [ ]:
n=int(input())
for i in range (1,n+1):
    for j in range (i,2*i):
        print(j, end=' ')
    for k in range (2*i-2,i-1,-1):
        print(k,end=' ')
    print('')

5
1
2 3 2
3 4 5 4 3
4 5 6 7 6 5 4
5 6 7 8 9 8 7 6 5

In [ ]:
n=5
for i in range(1,n+1):
  for j in range(65,65+i):
    print(chr(j), end=" ")
  print()

A
A B
A B C
A B C D
A B C D E

In [ ]:
ord('a')

97

In [ ]:
n=int(input())
import string
a=string.ascii_uppercase
for i in range (n+1):
 b=a[0:i]
 print(b)

5

A
AB
ABC
ABCD
ABCDE

In [ ]:
#find the LCM of 2 numbers given by user
first=int(input("enter the number:"))
second=int(input("enter second number :"))
if(first>second):
  max=first
  min=second
else:
  max=second
  min=first
if(min%max==0):
  print("lcm of first and second is ",max)

In [ ]:
first=int(input("Enter the first number: "))
second=int(input("Enter the second number: "))

if (first>second):
    max=first
else:
    max=second

while (max%first!=0 or max%second!=0):
    max+= 1

print("The LCM of", first, "and", second, "is", max)

Enter the first number: 5
Enter the second number: 7
The LCM of 5 and 7 is 35

In [ ]:
n=int(input("enter the number:"))
i=1
for i in range(1,n+1):
  if(n%i==0):
    print(i,end=" ")
  i+=1

enter the number:10
1 2 5 10

In [ ]:
n = int(input("Enter the number: "))
for i in range(1, n + 1):
    if n % i == 0:
        print(i, end=" ")

Enter the number: 10
1 2 5 10

In [ ]:
n1=int(input('Enter first number: '))
flag=0
for i in range (2,n1+1):
    if n1%i==0:
        if i<2:
            continue
        elif i==2:
            print(2,end=' ')
        else:
            for j in range (2,i):
                if i%j==0:
                    flag=False
                    break
                else:
                    flag=True
    else:
        continue
    if flag==True:
        print(i,end=' ')

Enter first number: 10
2 5

In [ ]:
n=int(input("enter the number:"))
sum=0
for i in range(1,n+1):
  sum=sum+i
print(sum)

enter the number:10
55

In [1]:
mylist=[10,20,56,89,54,68]
mylist.append(77)
print(mylist)

[10, 20, 56, 89, 54, 68, 77]

In [2]:
mylist.extend("ram")
print(mylist)

[10, 20, 56, 89, 54, 68, 77, 'r', 'a', 'm']

In [3]:
mylist.extend(["krishna"])
print(mylist)

[10, 20, 56, 89, 54, 68, 77, 'r', 'a', 'm', 'krishna']

In [4]:
mylist.pop(2)

56

In [5]:
print(mylist)

[10, 20, 89, 54, 68, 77, 'r', 'a', 'm', 'krishna']

In [4]:
#to find out maximum in the list
mylist=[10,20,30,56,79,11]
max=0
for i in mylist:
  if (i>max):
    max=i
print(max)

79

In [5]:
# to find out max out of the list
data=[1,2,3,43,5,6,7,8,9]
max=0
for i in data:
  if(i>max):
    max=i
print(max)

43

In [9]:
#to find out the secondmax in the list
data=[1,2,3,43,55,6,7,8,9]
max=0
secondmax=0
for i in data:
  if(i>max):
    secondmax=max
    max=i

  elif(i>secondmax and i!=max):
    secondmax=i
print(max,secondmax)

55 43

In [10]:
print(len(data))

9

In [14]:
#to find out if there is any 3 consecutive number present in the list or not?
mylist = [10, 20, 4, 19, 8, 5, 6, 7]
for i in range(len(mylist)-2):
  if(mylist[i]+1==mylist[i+1] and mylist[i]+2==mylist[i+2]):
    print(f"consecutive numbers found: {mylist[i]},{mylist[i+1]},{mylist[i+2]}")
    break

else:
    print("NO three consecutive numbers found")

consecutive numbers found 5,6,7

In [19]:
#same as above
beta=[1,98,54,32,33,34,45,36,34,56,57,58]
for i in range(len(beta)-2):
  if(beta[i]+1==beta[i+1] and beta[i]+2==beta[i+2]):
    print("3 consecutive numbers found",beta[i],beta[i+1],beta[i+2])
    break
else:
  print("no consecutive numbers found")

3 consecutive numbers found 32 33 34

In [21]:
# #Q. Find valid parenthesis (a question of leet code)
# sequence of parenthesis should be same [({  })]
# if it is closing in this way then this is valid
# parenthesis otherwise it is not valid parenthesis

listed=[]
x=0
for char in "[({})]":
  if char in "[({":
    listed.append(char)
  else:
    if(char=="}" and listed.pop!="{"):
      x+=1
      break
    elif(char==")" and listed.pop!="("):
      x+=1
      break
    elif(char=="]" and listed.pop!="["):
      x+=1
      break
  if(x==1):
    print("this is not valid parenthesis")
  else:
    print("this is valid parenthesis")

  print(listed)

this is valid parenthesis
['[']
this is valid parenthesis
['[', '(']
this is valid parenthesis
['[', '(', '{']

In [23]:
food=[]
x=0
for char in "[({})]":
  if char in "[({":
    food.append(char)
  else:
    if(char=="}" and food.pop()!="{"):
      x+=1
      break
    elif(char==")" and food.pop()!="("):
      x+=1
      break
    elif(char=="]" and food.pop()!="["):
      x+=1
      break
if(x==1):
  print("parenthesis is not valid")
else:
  print("Parenthesis is valid")
  print(food)

Parenthesis is valid
[]