In [5]:
numbers=[1,2,3,4,5]
def sumoflist(numbers):
  total=0
  for num in numbers:
    total+=num
  return total

sumoflist([1,2,3,4,5])

15

In [7]:
mylist=[1,2,2,3,4,5]
uniqueitems=[]
for item in mylist:
  if item not in uniqueitems:
    uniqueitems.append(item)
print(uniqueitems)

[1, 2, 3, 4, 5]

In [9]:
square=lambda x:x*x
print(square(5))

25

In [30]:
mylist=[1,2,3,4,5]
n=2
length=len(mylist)
n=n%length
result=[]
for i in range(length-n,length):
  result.append(mylist[i])
for i in range(0,length-n):
  result.append(mylist[i])
print(result)

[4, 5, 1, 2, 3]

In [11]:
mydict={'a':1,'b':2}
nestedlist=[]
for key,value in mydict.items():
  nestedlist.append([key,value])
print(nestedlist)

[['a', 1], ['b', 2]]

In [12]:
tuple1=(1,2)
tuple2=(3,4)
mylist=[]
for i in tuple1:
  for j in tuple2:
    mylist.append((i,j))
print(mylist)

[(1, 3), (1, 4), (2, 3), (2, 4)]

In [15]:
n=5
for i in range(n):
  value=1
  for j in range(i+1):
    print(value,end=" ")
    value=value*(i-j)//(j+1)
  print()

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1

In [29]:
list1=[1,2,3,4,5]
list2=[3,4]
for i in range(len(list1)-len(list2)+1):
  if list1[i:i+len(list2)]==list2:
    print("true")

true

In [32]:
data={'a':{'b':{'c':42}}}
key='c'
if key in data:
  print("true")