In [ ]:
# Collections
# Module-: Package-> functionality
# => python collection

In [2]:
import collections as c
c.Counter()

Counter()

In [4]:
#different method
from collections import Counter
mylist=[10,20,30,40,40,60,"a"]
Counter(mylist)

Counter({10: 1, 20: 1, 30: 1, 40: 2, 60: 1, 'a': 1})

In [5]:
Counter(x=10,y=20)

Counter({'x': 10, 'y': 20})

In [6]:
a=Counter(x=10,y=20)
a.update([20,70])
print(a)

Counter({'y': 20, 'x': 10, 20: 1, 70: 1})

In [8]:
a.most_common(2)

[('y', 20), ('x', 10)]

In [14]:
print(a)
list(a.elements())

Counter({'y': 20, 'x': 10, 20: 1, 70: 1})

['x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'y',
 'y',
 'y',
 'y',
 'y',
 'y',
 'y',
 'y',
 'y',
 'y',
 'y',
 'y',
 'y',
 'y',
 'y',
 'y',
 'y',
 'y',
 'y',
 'y',
 20,
 70]

In [15]:
from collections import defaultdict

In [17]:
def func():
  return "Not a Value"

In [18]:
d=defaultdict(func)
#list(),int()
d["a"]=10
d["b"]
print(d.items())

dict_items([('a', 10), ('b', 'Not a Value')])

In [19]:
mylist=[(10,"tushar"),(20,"aman"),(30,"Jay")]
for data in mylist:
  print (data)

(10, 'tushar')
(20, 'aman')
(30, 'Jay')

In [20]:
mylist=[(10,"tushar"),(20,"aman"),(30,"Jay")]
for roll,name in mylist:
  print (roll,name)

10 tushar
20 aman
30 Jay

In [26]:
mylist=[(10,"tushar"),(20,"aman"),(30,"Jay")]
s=defaultdict(list)

for roll,name in mylist:
  s[roll].append(name)
print(s[40])
print(s)

[]
defaultdict(<class 'list'>, {10: ['tushar'], 20: ['aman'], 30: ['Jay'], 40: []})

In [27]:
from collections import OrderedDict

In [31]:
o=OrderedDict()
o["a"]=1
o["b"]=99
o["aa"]=1991
o.move_to_end("b",last=False)
print(o)

OrderedDict([('b', 99), ('a', 1), ('aa', 1991)])

In [33]:
# pop.item("aa")

In [34]:
# namedtuple()
from collections import namedtuple

In [37]:
Point123=namedtuple('Point',['x','y'])
p=Point123(11,22)
print(p.x)
print(p[1])

11
22

In [38]:
p._asdict()

{'x': 11, 'y': 22}

In [40]:
p=p._replace(x=199)
print(p)

Point(x=199, y=22)

In [47]:
x={"x":199,"y":25}

In [48]:
Point123=namedtuple('Point',['x','y'])
print(x)
Point123(**x)

{'x': 199, 'y': 25}

Point(x=199, y=25)

In [ ]:
#deque

In [ ]:
#list

In [ ]:
#list=> we use list as a Stack data structure in whole Python

In [ ]:
#deque means double ended queue

In [49]:
from collections import deque

In [50]:
dq=deque(["tushar","abc","xyz",20])

In [51]:
dq.append(40)

In [52]:
dq.appendleft(1234)
print(dq)

deque([1234, 'tushar', 'abc', 'xyz', 20, 40])

In [57]:
#leeetcodde 349
nums1=[1,2,2,1]
nums2=[2,2]
m=sorted(nums1)
n=sorted(nums2)
list1=[]
for i in nums1,nums2:
    if (i in m) and (i in n):
      list1.append(i)
print(list1)
print(m,n)

[]
[1, 1, 2, 2] [2, 2]

In [58]:
#leeetcodde 349
nums1=[1,2,2,1]
nums2=[2,2]
list1=[]
for i in nums1:
  if i in nums2 and i not in list1:
    list1.append(i)
print(list1)

[2]

In [67]:
# leetcode 88
nums1 = [1,2,3,0,0,0]
m = 3
nums2 = [2,5,6]
n = 3
o=nums1[:m]
p=nums2[:n]
q=o+p
r=sorted(q)
print(r)

[1, 2, 2, 3, 5, 6]

In [2]:
#leetcode 88 working method
nums1 = [1,2,3,0,0,0]
m = 3
nums2 = [2,5,6]
n = 3
nums1[m:]=nums2
nums1.sort()
print(nums1)

[1, 2, 2, 3, 5, 6]