In [ ]:
##first class functions
## first class

In [1]:
# x=func()
# func()
# x()
# ## it will give error

NameError: name 'func' is not defined

In [ ]:
#if we can pass a function as a argument to another function
#high order functions
#all high order function are first class functions

In [ ]:
#but converse is not true

In [3]:
def func(a,b):
  print(a+b)
  return a+b

x=func(10,20)
print(x)

30
30

In [4]:
def func(a,b):
  print(a+b)
def addNo(x,y):
  print(x,y)

addNo(10,func(10,20))

30
10 None

In [5]:
def func(a,b):
  return (a+b)
def addNo(x,y):
  return (x,y)

addNo(10,func(10,20))

(10, 30)

In [6]:
addNo(40,func)

(40, <function __main__.func(a, b)>)

In [7]:
def func(a,b):
  print(a+b)

def addNo(x,y):
  print(x,y(10,20))

addNo(10,func)

30
10 None

In [8]:
def func(a,b):
  return(a+b)

def addNo(x,y):
  print(x,y(10,20))

addNo(10,func)

10 30

In [10]:
def square(x):
  return(x**2)

def cube(n,funt):
  print(n*funt(n))

  #x=square(10)
cube(6,square)

216

In [12]:
# ##Lamda functions
# started with lamda
# lamda=> annoymous functions
# same as normal function
# it is like one time use function

'''
normal function start with def

lamda function start with lamda

'''

def func(x):
  return x+10
print(func)

<function func at 0x7a92b4f31ab0>

In [14]:
lambda x,y: x+y
func(10)

20

In [15]:
func=lambda x,y: x+y
func(1,11)

12

In [ ]:
def cube(x):
  print(lambda x: x**2)

cube(4)

In [16]:
def cube(x):
  out =(lambda x: x**2)
  print("vlaue of lambda is ",x*out(x))

cube(4)

vlaue of lambda is  64

In [ ]:
## now we will learn map,filter,reduce
# these are the functions which will take different
# functions as a parameter

In [ ]:
# watch lecture at time stamp 55mins

In [ ]:
# #types of argument
# required
# positional
# keyword
# args
# kwargs

In [ ]:
# kisi function ko as a argument pass krna is known as high order function

In [ ]:
## we use lambda function to increase code
#readibility

In [ ]:
# ## leetcode problem no.1

# class Solution:
#     def twoSum(self, nums: List[int], target: int) -> List[int]:
#         dict={}
#         for index in range(0,len(nums)):
#             data=nums[index]
#             if target-data in dict:
#                 return(dict[target-data],index)
#             dict[data]=index

In [21]:
#leet problem 1 two number sum
mydict={}
for x in enumerate([10,20,30]):
  value,key=x
  print(key)

  if key not in mydict:
    mydict[key]=value
print(mydict)

10
20
30
0
{10: 0, 20: 1, 30: 2, 0: 3}

In [24]:
#leet problem 1 two number sum
mydict={}
k=30
for x in enumerate([10,20,30]):
  value,key=x
  print(key)

  if key not in mydict:
    mydict[key]=value
print(mydict)

for value,key in enumerate([10,20,30]):
  if k-key in mydict and mydict[k-key]!=value:
    print([value,mydict[k-key]])
    break

10
20
30
{10: 0, 20: 1, 30: 2}
[0, 1]

In [ ]:
##try same question at home as well

In [26]:
sell=1
buy=0
maxi=0
mylist=[7,10,5,3,6,20]
no_days=len(mylist)

while(sell<no_days):
  if(mylist[sell]>mylist[buy]):
    profit_margin=mylist[sell]-mylist[buy]
    maxi=max(maxi,profit_margin)
  else:
    buy=sell
  sell+=1

print(maxi)

17