In [ ]:
#nested list and pascal triangle

In [ ]:
mylist=[1,2,[10,20]]
mylist[2]

In [ ]:
#try
mylist=[0,1,0]
secondrow=[0,mylist[0]+mylist[1] , mylist[1]+mylist[2],0]
thirdrow=[0,secondrow[0]+secondrow[1] , secondrow[1]+secondrow[2],secondrow[2]+secondrow[3],0]
print(secondrow)
print(thirdrow)

[0, 1, 1, 0]
[0, 1, 2, 1, 0]

In [ ]:
mylist=[[1],[1,1]]
for i in range(len(mylist)+1)

Revision
Learning
practice
miscelleneous

In [8]:
mylist=[[1]]
n=int(input("enter the number of row:"))
for i in range(0,n-1):
  temp=[0]+mylist[-1]+[0]
  print(temp)
  list1=[]

  #[0,1,0], mylist=1
  for j in range(len(mylist)+1):
    list1.append(temp[j]+temp[j+1])
    print(list1)
  mylist.append(list1)

print(mylist)

enter the number of row:3
[1]
[1, 1]
[1]
[1, 2]
[1, 2, 1]
[[1], [1, 1], [1, 2, 1]]

In [10]:
mylist=[[1]]
n=int(input("enter the number of row:"))
for i in range(0,n-1):
  temp=[0]+mylist[-1]+[0]

  list1=[]
  #[0,1,0], mylist=1
  for j in range(len(mylist)+1):
    list1.append(temp[j]+temp[j+1])
  mylist.append(list1)

print(mylist)

enter the number of row:7
[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1], [1, 5, 10, 10, 5, 1], [1, 6, 15, 20, 15, 6, 1]]

In [13]:
listed=[[1]]
n=int(input("enter number of rows:"))
for i in range(0,n-1):
  temp=[0]+listed[-1]+[0]
  list1=[]

  for j in range(len(listed)+1):
    list1.append(temp[j]+temp[j+1])
  listed.append(list1)

print(listed)

enter number of rows:4
[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1]]

In [ ]:
##

In [25]:
##2nd Method try
n=4
mylist=[1]
for i in range(0,n):
  for j in range(0,i+1):
    if(i==j or j==0):
      print("1", end="  ")
    else:
      print(j+1,end=" ")

  print()

1
1  1
1  2 1
1  2 3 1

In [32]:
##2nd method by sir
mylist=[]
n=int(input("enter the row:"))
for i in range(0,n):
  temp=[]
  for j in range(0,i+1):
    if(j==0 or j==i):
      temp.append(1)
    else:
      temp.append(mylist[i-1][j-1]+ mylist[i-1][j])
  mylist.append(temp)

print(mylist, end=" ")

enter the row:5
[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]

In [ ]:
###homework==> hackerank

In [38]:
mylist = []
n = int(input("Enter the number of rows: "))

for i in range(0,n):
    temp = []
    for j in range(0,i+1):
        if j == 0 or j == i:
            temp.append(1)
        else:
            temp.append(mylist[i-1][j-1] + mylist[i-1][j])
    mylist.append(temp)

for i in range(n):
    print(" " * (n-i),end=' ')
    for j in range(i+1):
        print(mylist[i][j], end=' ')
    print()

Enter the number of rows: 7
        1
       1 1
      1 2 1
     1 3 3 1
    1 4 6 4 1
   1 5 10 10 5 1
  1 6 15 20 15 6 1