In [ ]:
#Q1.

n=5
for i in range(n):
  for j in range(i+1):
    print(" ",end=" ")
  for j in range(n):
    print("*",end=" ")
  print()

  * * * * *
    * * * * *
      * * * * *
        * * * * *
          * * * * *

In [ ]:
#Q2.
n=5
for i in range(n):
  for j in range(n):
    if i==0 or j==0 or i==n-1 or j==n-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
n=5
for i in range(n):
  p=65
  for j in range(i+1):
    print(chr(p),end=" ")
    p+=1
  print()

A
A B
A B C
A B C D
A B C D E

In [ ]:
#Q3.
n=5
p=65
for i in range(n):
  for j in range(i+1):
    print(chr(p),end=" ")
  p+=1
  print()

A
B B
C C C
D D D D
E E E E E

In [ ]:
n=5
k=69
for i in range(n):
  p=k
  for j in range(i+1):
    print(chr(p),end=" ")
    p+=1
  k-=1

  print()

E
D E
C D E
B C D E
A B C D E

In [ ]:
#Q6 (a)
n=5
for i in range(n):
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(i+1):
    print("*",end=" ")
  print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [ ]:
#Q6 (b)
n=5

for i in range(n):
  num=1
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(i+1):
    print(num,end=" ")
    num+=1
  print()

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

In [ ]:
#7 (a)
n=5
for i in range(n):
  num=1
  for j in range(i):
    print(" ",end=" ")
  for j in range(i,n):
    print(num,end=" ")
    num+=1
  print()

1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

In [ ]:
#Q7 (b)
n=5
for i in range(n):
  num=65
  for j in range(i):
    print(" ",end=" ")
  for j in range(i,n):
    print(chr(num),end=" ")
    num+=1
  print()

A B C D E
  A B C D
    A B C
      A B
        A

In [ ]:
#Q8 (a)
for i in range(n):
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(n):
    print("*",end=" ")
  print()

          * * * * *
        * * * * *
      * * * * *
    * * * * *
  * * * * *

In [ ]:
#Q8 (b)
for i in range(n):
  num=1
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(n):
    print(num,end=" ")
    num+=1
  print()

          1 2 3 4 5
        1 2 3 4 5
      1 2 3 4 5
    1 2 3 4 5
  1 2 3 4 5

In [ ]:
#Q10.
for i in range(n):
  num=65
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(n):
    print(chr(num),end=" ")
    num+=1
  print()

          A B C D E
        A B C D E
      A B C D E
    A B C D E
  A B C D E

In [ ]:
#Q11.
n=5
for i in range(n):
  for j in range(i,n-1):
    print(" ",end=" ")
  for j in range(i):
    print("*",end=" ")

  for j in range(i+1):
    print("*",end=" ")
  print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
#Q12
n=5
for i in range(n):
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(i):
    if  i==n-1 or j==0 :
      print("*",end=" ")
    else:
      print(" ",end=" ")

  for j in range(i+1):
    if  i==n-1 or j==i:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

          *
        *   *
      *       *
    *           *
  * * * * * * * * *

In [ ]:
#Q13. (a)
n=5
for i in range(n):
  for j in range(i):
    print(" ",end=" ")
  for j in range(i,n-1):
    print("*",end=" ")

  for j in range(i,n):
    print("*",end=" ")
  print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [ ]:
#Q13. (b)
n=5
for i in range(n):
  for j in range(i):
    print(" ",end=" ")
  for j in range(i,n-1):
    if i==0 or j==i :
      print("*",end=" ")
    else:
      print(" ",end=" ")

  for j in range(i,n):
    if i==0  or j==n-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * * * * * *
  *           *
    *       *
      *   *
        *

In [ ]:
#Q14.
n=5
for i in range(n-1):
  for j in range(i+1):
    print("*",end=" ")
  print()

n=5
for i in range(n):
  for j in range(i,n):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
#Q15
n=5
for i in range(n-1):
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(i+1):
    print("*",end=" ")
  print()


for i in range(n):
  for j in range(i+1):
    print(" ",end=" ")
  for j in range(i,n):
    print("*",end=" ")
  print()

          *
        * *
      * * *
    * * * *
  * * * * *
    * * * *
      * * *
        * *
          *

In [ ]:
n=5

for i in range(n):
  p=65
  for j in range(i+1):
    print(chr(p),end=" ")
    p+=1
  print()

A
A B
A B C
A B C D
A B C D E